/*Reset*/

* {
    box-sizing: border-box;
}

ul, li, ol {
    list-style: none;
}

img, figure {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/*Header*/
header {
    background: deepskyblue;
}

.header-title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 0 0 1rem;
    padding: 1rem 0;
}

.banner {


}

.banner > img {
    witdh: 100px
}

