/*Reset*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul, li, ol {
    list-style: none;
}

img, figure {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/*Page*/

body {
    background: rgb(247, 210, 0);
}

main, header, footer{
    max-width: 1450px;
    margin: 0 auto;
}

/*Header*/
header {
    background: rgba(14, 172, 224, 0.915);
    padding: 0;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

.banner {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.banner > img {
    width: 120%;
    object-fit: cover;
}

/*section*/
